# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# Run pre-commit autoupdate sometimes

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-ast
    -   id: check-yaml
    -   id: check-json
    -   id: check-toml
    -   id: check-added-large-files
    -   id: check-docstring-first
    -   id: check-merge-conflict

-   repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
    -   id: black

-   repo: https://github.com/PyCQA/flake8
    rev: '3.9.2'
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-bugbear==21.4.3, flake8-docstrings==1.6.0, flake8-rst-docstrings==0.2.3]

-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: 'v1.5.7'
    hooks:
    -   id: autopep8

-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
    -   id: reorder-python-imports

# -   repo: https://github.com/pre-commit/mirrors-pylint
#     rev: 'v3.0.0a3'
#     hooks:
#     -   id: pylint

-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    -   id: rst-backticks
    -   id: rst-inline-touching-normal

-   repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: '2.1.5'
    hooks:
    -   id: shellcheck

# -   repo: https://github.com/gruntwork-io/pre-commit
#     rev: 'v0.1.12'
#     hooks:
#     -   id: markdown-link-check

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.29.0
    hooks:
    -   id: pyupgrade
        args: [--py37-plus]

# GitHub CI with pre-commit.ci
ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip: []
    submodules: false
